<%- model_class = Account -%>
<div class="page-header">
  <h1>My Account</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:account_number) %>:</strong></dt>
  <dd><%= @account.account_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:balance) %>:</strong></dt>
  <dd><%= @account.balance %></dd>
</dl>
